:host {
  display: flex;
  justify-content: center;

}

.form {
  width: 100%;

  .form-title {
    flex: 1 0;
  }

  .form-content {
    padding: 10px;
  }

  ::ng-deep .form-row {
    width: 100%;
  }
}

@media (min-width: 599px) {
  .form {
    width: 50%;
  }
}
