<form class="form" [formGroup]="formGroup" (submit)="onSubmit($event)">
  <mat-toolbar class="form-toolbar">
    <span class="form-title">{{ formTitle }}</span>
    <button mat-button color="primary" type="submit">Save</button>
    <a mat-button routerLink="/">Cancel</a>
  </mat-toolbar>
  <div class="form-content">
    <ng-content></ng-content>
  </div>
</form>
