<h1 mat-dialog-title>Assign crew</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      placeholder="Crew"
      [formControl]="crewControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto [displayWith]="displayValue">
      <mat-option *ngIf="isLoading" class="is-loading">
        <mat-spinner diameter="50"></mat-spinner>
      </mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let crew of crews" [value]="crew">
          <span>{{ crew.captain }}</span>
          <small>({{ robotsDisplayValue(crew.robots) }})</small>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="this.crewControl.value"
    cdkFocusInitial
  >
    Assign
  </button>
  <button mat-button (click)="handleCancel()">Cancel</button>
</div>
