<h1 mat-dialog-title>Update status</h1>
<div mat-dialog-content [formGroup]="control">
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="OK">
        OK
      </mat-option>
      <mat-option value="NOK">
        NOK
      </mat-option>
      <mat-option value="EnRoute">
        EnRoute
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="this.control.value"
    cdkFocusInitial
  >
    Assign
  </button>
  <button mat-button (click)="handleCancel()">Cancel</button>
</div>
