<div class="planet-list">
  <mat-card class="planet-card" *ngFor="let planet of planets$ | async">
    <div class="planet">
      <div
        *ngIf="planet.imageUrl"
        [ngStyle]="{ backgroundImage: 'url(' + planet.imageUrl + ')' }"
        class="image"
      ></div>
      <span class="name">{{ planet.name }}</span>
    </div>
    <div class="details">
      <p class="description">
        {{ planet.description || "No descrption yet :/" }}
      </p>
      <div class="crew" *ngIf="planet.crew">
        <p><span>by captain </span>{{ planet.crew.captain }}</p>
        <p><span>Robots </span>{{ planet.crew.robots }}</p>
      </div>
    </div>
    <div class="status">{{ planet.status }}</div>
    <button mat-button [matMenuTriggerFor]="planetMenu" class="planet-menu">
      <mat-icon aria-hidden="false" aria-label="Add icon">more_horiz</mat-icon>
    </button>
    <mat-menu #planetMenu>
      <button mat-menu-item (click)="handleAssignCrew(planet.id)">
        Assign crew
      </button>
      <button mat-menu-item (click)="handleUpdateStatus(planet.id)">
        Update status
      </button>
    </mat-menu>
  </mat-card>
</div>

<button mat-fab [matMenuTriggerFor]="addMenu" class="add-btn">
  <mat-icon aria-hidden="false" aria-label="Add icon">add</mat-icon>
</button>
<mat-menu #addMenu>
  <a mat-menu-item routerLink="/add-planet">Add planet</a>
  <a mat-menu-item routerLink="/add-crew">Add crew</a>
</mat-menu>
