.planet-list {
  overflow: auto;
  padding: 45px 0;

  .planet-card {
    position: relative;
    display: flex;
    margin: 10px;
    background-color: #fff;
    color: #000;

    .planet {
      display: flex;
      flex-direction: column;
      width: 20%;
      padding: 10px;

      .image {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .name {
        font-weight: bold;
        text-align: center;
      }
    }

    .details {
      flex: 1 0;
      padding: 10px;
    }

    .status {
      display: flex;
      align-items: center;
      padding: 10px;
      font-weight: bold;
    }

    .planet-menu {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.add-btn {
  background-color: #b7525f;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

@media (min-width: 599px) {
  .add-btn {
    top: 50px;
    left: 10px;
  }
}
