<xpand-form formTitle="Add crew" [formGroup]="control" (submit)="onSubmit()">
  <mat-form-field class="form-row">
    <input matInput placeholder="Captain" formControlName="captain" />
  </mat-form-field>
  <mat-label>Robots</mat-label>
  <div
    formArrayName="robots"
    *ngFor="
      let robot of control.get('robots').controls;
      let r = index;
      let last = last
    "
    class="form-row"
  >
    <div [formGroupName]="r" class="robot-row">
      <mat-form-field class="robot-name">
        <input matInput placeholder="Robot name" formControlName="name" />
      </mat-form-field>
      <button type="button" mat-button (click)="handleRemoveButton(r)">
        <mat-icon aria-hidden="false" aria-label="Add icon">remove</mat-icon>
      </button>
      <button type="button" *ngIf="last" mat-button (click)="handleAddButton()">
        <mat-icon aria-hidden="false" aria-label="Add icon">add</mat-icon>
      </button>
    </div>
  </div>
</xpand-form>
