:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  justify-content: center;
  background-color: #b7525f;

  .title {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
}

.content {
  flex: 1 0;
  overflow: auto;
}
