<xpand-form formTitle="Add planet" [formGroup]="control" (submit)="onSubmit()">
    <mat-form-field class="form-row">
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="form-row">
      <input matInput placeholder="Image URL" formControlName="imageUrl" />
    </mat-form-field>
</xpand-form>
